th, td {
  text-align: center;
}

.container {
  padding: 2rem 10rem;
  gap: 2rem;

  display: flex;
  flex-direction: column;

}

container__header{
  > span {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1rem;
  }
  width: 100%;
  display: flex;
  text-align: right;
}

